<div class="flex gap-2 p-2 items-center">
    <div class="h-1 bg-gray-300 rounded-full w-full grow"></div>
    <span class="flex-1 select-none">🥅</span>
    <div class="h-1 bg-gray-300 rounded-full w-full grow"></div>
</div>